<h1><%= @wikis.title %></h1>

<div class="row">
    <div class="col-md-4">
        <%= link_to "Edit", edit_wiki_path(@wikis), class: 'btn btn-success' %>
        <%= link_to "Delete", @wikis, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
    </div>
    <br />
    <div class="col-md-8">
        <p><%= @wikis.body %></p>
    </div>
</div>